<%- include('partials/header')  -%> 

<link rel="stylesheet" href="/css/Telle-leadsList.css">
<link rel="stylesheet" href="/css/Telle-leads.css">

<%- include('partials/sidebar')  -%>

    <div class="flex-grow-1 whole-body">
        <div class="container-fluid topBar mb-0">
            <div class="row mb-0">
                <div class="col-md-6">
                    <div class="Search-anything">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for anything here.">
                            <div class="input-group-append">
                                <button class="btn " type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="language d-flex align-items-center">
                        <i class="fa-solid fa-language fs-3 h-100"></i>
                        <form action="/language" method="post">
                            <select class="form-select d-inline" >
                                <option>English (US)</option>
                                <option>English (UK)</option>
                                <option>French</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="GoodMorning text-end me-4">
                        <span class="m-0 p-0 d-block fw-semibold"><i class="fa-solid fa-sun text-warning me-1"></i> <%= greeting %></span>
                        <span class="m-0 p-0 d-block date"><%= date %> </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid main-body mt-0 p-3 h-100">
            <div class="row">
                <div class="col-md-6 m-0">
                    <div class="fs-2 breadcrumbForLeads">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Telle-leads" class="text-decoration-none text-dark">Leads</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                   
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card border-success">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-solid fa-briefcase-medical fs-3 text-success mb-3"></i>
                                <span class="text-dark fs-3 fw-bold">200</span>
                                <span class="text-dark fs-3">Hot Leads</span>
                            </div>
                        </div>
                        <div class="card-footer border-success bg-success bg-opacity-75">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="text-muted"><a href="/Telle-leads/Hot" class="text-decoration-none text-muted"> View Leads <i class="fa-solid fa-angles-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card border-danger">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-solid fa-triangle-exclamation fs-3 text-danger mb-3"></i>
                                <span class="text-dark fs-3 fw-bold">2</span>
                                <span class="text-dark fs-3">Cold Leads</span>
                            </div>
                        </div>
                        <div class="card-footer border-danger bg-danger bg-opacity-75">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="text-muted"><a href="/Telle-leads/Cold" class="text-decoration-none text-muted"> View Leads <i class="fa-solid fa-angles-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <div class="card border-primary w-50">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fa-solid fa-triangle-exclamation fs-3 text-primary mb-3"></i>
                                <span class="text-dark fs-3 fw-bold">202</span>
                                <span class="text-dark fs-3">All Leads</span>
                            </div>
                        </div>
                        <div class="card-footer border-primary bg-primary bg-opacity-75">
                            <div class="d-flex justify-content-center align-items-center">
                                <span class="text-muted"><a href="/Telle-leads/All" class="text-decoration-none text-muted"> View Leads <i class="fa-solid fa-angles-right"></i></a></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                            

    </div>

<%- include('partials/footer')  -%>


