<%- include('../../partials/header')  -%> 

<link rel="stylesheet" href="/css/application.css">
</head>

<script src="https://code.jquery.com/jquery-1.12.4.min.js">
</script>
<script>

    $(document).ready(function () {
        $("input").each(function () {
            if ($(this).attr("value") !== " " && $(this).attr("value") !== "Save") {
                $(this).attr("disabled", true);
            }
        });
    });
</script>
<body>
    <!-- Tab-bar -->
    <%- include('navBar') -%> 
    <%- include('tabBar',{enrolledId : enrolledLead._id})  -%>
    <div class="p-4">
        <div class="head bg-secondary text-light border p-2 px-4 rounded-3">
            <p class="mb-2 fs-5 mt-2">Welcome to the application of </p>
            <div class="table-responsive">
                <table class="table table-borderless text-white" width="100%" cellspacing="0">
                    <thead class="">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Enrolment Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                          <tr>
                            <td><%= enrolledLead.name %> </td>
                            <td><%= enrolledLead.email %></td>
                            <td><%= enrolledLead.phone %></td>
                            <td>
                                <% const cDate1=new
                                    Date(enrolledLead.enrollmentDate).toLocaleDateString("en-GB") %>
                                    <%= cDate1 %>
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="nav nav-tabs nav-fill bg-light">
                    <li class="nav-item active">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/get/<%= enrolledLead._id %>">Personal
                            Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/academic/<%= enrolledLead._id %>">Academic
                            Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/work/<%= enrolledLead._id %>">Work
                            Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/test/<%= enrolledLead._id %>">Test
                            Information</a>
                    </li>
                </ul>
                <form action="/enrolled/save/personal/<%= enrolledLead._id %>" method="POST">

                    <div class="card mb-3 mt-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>Personal Information</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input type="date" class="dob" id="dob" name="dob" value="<%= personalInfo.dob?personalInfo.dob:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select name="gender" id="gender">
                                    <% if(personalInfo.gender){ %>
                                        <option value="">
                                            <%= personalInfo.gender %>
                                        </option>
                                        <% } %>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                            <option value="other">Other</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="maritalStatus">Marital Status</label>
                                <select name="maritalStatus" id="maritalStatus" >
                                    <% if(personalInfo.maritalStatus){ %>
                                        <option value="">
                                            <%= personalInfo.maritalStatus %>
                                        </option>
                                        <% } %>
                                            <option value="married">Married</option>
                                            <option value="unmarried">Un-married</option>
                                            <option value="divorced">Divorced</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" name="address" id="address" value="<%= personalInfo.address? personalInfo.address:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="pincode">Pin Code</label>
                                <input type="text" name="pincode" id="pincode" value="<%= personalInfo.pincode? personalInfo.pincode:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" value="<%= (personalInfo.city)?personalInfo.city:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" name="state" id="state" value="<%= personalInfo.state? personalInfo.state:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" name="country" id="country" value="<%= personalInfo.country? personalInfo.country:" " %>">
                            </div><br>
                            
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>Passport Information</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="passportNumber">Passport Number</label>
                                <input type="text" name="passportNumber" id="passportNumber"
                                    value="<%= personalInfo.passportNumber?personalInfo.passportNumber:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="passportissue">Issue Date</label>
                                <input type="date" name="passportissue" id="passportissue"
                                    value="<%= personalInfo.passportissue?personalInfo.passportissue:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="passportExpiry">Expiry Date</label>
                                <input type="date" name="passportExpiry" id="passportExpiry"
                                    value="<%= personalInfo.passportExpiry?personalInfo.passportExpiry:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="passportIssueCountry">Issued By Country</label>
                                <input type="text" name="passportIssueCountry" id="passportIssueCountry"
                                    value="<%= personalInfo.passportIssueCountry?personalInfo.passportIssueCountry:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="placeOfBirth">Place Of Birth</label>
                                <input type="text" name="placeOfBirth" id="placeOfBirth"
                                    value="<%= personalInfo.placeOfBirth?personalInfo.placeOfBirth:" " %>">
                            </div><br>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>Background</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="citizenOfTwo">Is the applicant a citizen of more than one country?</label>
                                <select name="citizenOfTwo" id="citizenOfTwo">
                                    <% if(personalInfo.citizenOfTwo){ %>
                                    <option value="">
                                        <%= personalInfo.citizenOfTwo %>
                                    </option>
                                    <% } %>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="liveOrStudyinOtherCountry">Is the applicant living and studying in any other
                                    country?</label>
                                <select name="liveOrStudyinOtherCountry" id="liveOrStudyinOtherCountry">
                                    <% if(personalInfo.liveOrStudyinOtherCountry){ %>
                                    <option value="">
                                        <%= personalInfo.liveOrStudyinOtherCountry %>
                                    </option>
                                    <% } %>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="countryName">Name(if applicable)</label>
                                <input type="text" name="countryName" id="countryName"
                                    value="<%= personalInfo.countryName? personalInfo.countryName:" " %>">
                            </div><br>
                            <div class="form-group">
                                <label for="appliedForImmigrationInAnyCountry">Has applicant applied for any type of
                                    immigration
                                    into any
                                    country?</label>
                                <select name="appliedForImmigrationInAnyCountry" id="appliedForImmigrationInAnyCountry">
                                    <% if(personalInfo.appliedForImmigrationInAnyCountry){ %>
                                    <option value="">
                                        <%= personalInfo.appliedForImmigrationInAnyCountry %>
                                    </option>
                                    <% } %>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="anySeriousMedicalCondition">Does applicant suffer from a serious medical
                                    condition?</label>
                                <select name="anySeriousMedicalCondition" id="anySeriousMedicalCondition">
                                    <% if(personalInfo.anySeriousMedicalCondition){ %>
                                    <option value="">
                                        <%= personalInfo.anySeriousMedicalCondition %>
                                    </option>
                                    <% } %>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="anyRefusals">Has applicant Visa refusal for any country?</label>
                                <select name="anyRefusals" id="anyRefusals">
                                    <% if(personalInfo.anyRefusals){ %>
                                    <option value="">
                                        <%= personalInfo.anyRefusals %>
                                    </option>
                                    <% } %>
                                    <option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div><br>
                            <div class="form-group">
                                <label for="anyCriminalConvictions">Has applicant ever been convicted of a criminal
                                    offence?</label>
                                <select name="anyCriminalConvictions" id="anyCriminalConvictions">
                                    <% if(personalInfo.anyCriminalConvictions){ %>
                                    <option value="">
                                        <%= personalInfo.anyCriminalConvictions %>
                                    </option>
                                    <% } %>
                                    <<option value="true">true</option>
                                    <option value="false">false</option>
                                </select>
                            </div> <br>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3>Emergency Contact</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="emergencyname">Name</label>
                                <input type="text" name="emergencyname" id="emergencyname"
                                    value="<%= personalInfo.emergencyname?personalInfo.emergencyname:" " %>" required>
                            </div><br>
                            <div class="form-group">
                                <label for="emergencyrelationship">Relationship</label>
                                <input type="text" name="emergencyrelationship" id="emergencyrelationship"
                                    value="<%= personalInfo.emergencyrelationship?personalInfo.emergencyrelationship:" " %>" required>
                            </div><br>
                            <div class="form-group">
                                <label for="emergencyphone">Phone</label>
                                <input type="text" name="emergencyphone" id="emergencyphone"
                                    value="<%= personalInfo.emergencyphone?personalInfo.emergencyphone:" " %>" required>
                            </div><br>
                            <div class="form-group">
                                <label for="emergencyemail">Email</label>
                                <input type="text" name="emergencyemail" id="emergencyemail"
                                    value="<%= personalInfo.emergencyemail?personalInfo.emergencyemail:" " %>" required>
                            </div><br>
                            <div class="form-group">
                                <label for="anyOtherInformation">Any Other Information</label>
                                <input type="text" name="anyOtherInformation" id="anyOtherInformation"
                                    value="<%= personalInfo.anyOtherInformation?personalInfo.anyOtherInformation:" " %>">
                            </div><br>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit">Submit</button>
                        <!-- <input type="submit" value="Submit"> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    
            <%- include('../../partials/footer') -%>

    </body>

    </html>

  
      



<%- include('../../partials/footer')  -%>

</body>
</html>