<%- include('../partials/header') -%>
  <!-- Sidebar styles for this template -->
  <link href="/css/sidebar.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/Telle-leadsList.css">

  </head>

  <body>

    <% if(user.role === "TelleCaller"){ %>
      <%- include('../tellecaller/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "Counsellor"){ %>
      <%- include('../counsellor/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "FOE"){ %>
      <%- include('../foe/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "Admin"){ %>
      <%- include('../admin/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "Branch Manager"){ %>
      <%- include('../branchmanager/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "SOP Team"){ %>
      <%- include('../sopteam/sidebar',{user, avatarSrc})  -%>
    <% } else if(user.role === "Filing Team"){ %>
      <%- include('../filingteam/sidebar',{user, avatarSrc})  -%>
    <% } %>

      <div class="flex-grow-1 whole-body">
        
        <%- include('../partials/topbar',{date, greeting})  -%>

        <div class="container-fluid main-body mt-0 p-3 h-100">
          <div class="row">
            <div class="col-md-6 m-0">
              <div class="fs-2 breadcrumbForLeads">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/enrolled/manageApplications"
                        class="text-decoration-none text-dark">Manage Applications</a></li>
                  </ol>
                </nav>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>
                  Applications
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover" id="List" width="100%" cellspacing="0">
                      <thead class="table-light">
                        <tr>
                          <th>Date Created</th>
                          <th>Name</th>
                          <th>University</th>
                          <th>Intake</th>
                          <th>Created By</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <% applications.forEach(function(application){ %> 
                        <tr>
                          <td><%= new Date(application.appliedAt).toLocaleDateString("en-GB") %></td>
                          <td><a href="/enrolled/application/<%= application.enrolledLead._id%>/applied/<%= application._id%>" class="text-decoration-none text-dark"><%= application.name %></a></td>
                          <td><%= application.institution %></td>
                          <td><%= application.intake %></td>
                          <td><%= application.appliedBy.name %></td>
                          <td><%= application.status.name %></td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      </div>

      <%- include('../partials/footer') -%>

  </body>

  </html>