<%- include('../partials/header')  -%> 

<link rel="stylesheet" href="/css/application.css">
</head>
<body>
    <!-- Tab-bar -->
    <%- include('../partials/navBar') -%> 
    <%-  include('../partials/tabBar',{lead: enrolledLead}) -%>  

    <!-- upload documents -->
    <div class="p-4">
        <div class="head">
            <h3 class="mb-3">Upload Documents of </h3>
            <div class="table-responsive">
                <table class="table table-hover" width="100%" cellspacing="0">
                    <thead class="table-light">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Student Url Link</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                          <tr>
                            <td><%= enrolledLead.name %> </td>
                            <td><%= enrolledLead.email %></td>
                            <td><%= enrolledLead.phone %></td>
                            <td>  <% const cDate1=new Date(enrolledLead.enrollmentDate).toLocaleDateString("en-GB") %>
                              <%= cDate1 %></td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-3">
            <div class="card">
                <div class="card-header fs-5 fw-semibold"><i class="fa-solid fa-file-lines"></i>  Your Documents</div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <form action="/enrolled/checkbox/<%= enrolledLead._id %>/10th" method="post">
                            <h2 class="accordion-header" id="headingOne">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (tenth)?tenth.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Std. 10th Marksheet</span> 
                              </button>
                            </h2>
                            </form>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                              <div class="accordion-body bg-light">
                                <!-- uploaded files -->
                                <% if(tenth) { %> 
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% tenth.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/10th/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                 
                                <form action="/enrolled/document/<%= enrolledLead._id %>/10th" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                </div>
                                </form>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/12th" method="post">
                            <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (twelfth)?twelfth.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Std. 12th Marksheet</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(twelfth) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% twelfth.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/12th/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/12th" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/bachelors" method="post">
                            <h2 class="accordion-header" id="headingThree">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <% (bachelors)?bachelors.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Bachelors Individual Marksheets*</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(bachelors) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% bachelors.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/bachelors/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/bachelors" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/provisionalFinal" method="post">
                            <h2 class="accordion-header" id="headingFour">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <% (provisionalFinal)?provisionalFinal.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Provisional/Final Degree Certificate</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(provisionalFinal) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% provisionalFinal.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/provisionalFinal/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/provisionalFinal" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/applicationForm" method="post">
                            <h2 class="accordion-header" id="headingFive">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (applicationForm)?applicationForm.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Application Form*</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(applicationForm) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% applicationForm.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/applicationForm/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/applicationForm" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/declaration" method="post">
                            <h2 class="accordion-header" id="headingSix">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (declaration)?declaration.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Declaration*</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(declaration) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% declaration.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/declaration/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/declaration" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/passport" method="post">
                            <h2 class="accordion-header" id="headingSeven">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (passport)?passport.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Copy of Passport</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(passport) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% passport.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/passport/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/passport" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/statementOfPurpose" method="post">
                            <h2 class="accordion-header" id="headingEight">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (statementOfPurpose)?statementOfPurpose.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Statement of Purpose *</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(statementOfPurpose) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% statementOfPurpose.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/statementOfPurpose/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/statementOfPurpose" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/letterOfRecommendation" method="post">
                            <h2 class="accordion-header" id="headingNine">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (letterOfRecommendation)?letterOfRecommendation.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Letter of Recommendation</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(letterOfRecommendation) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% letterOfRecommendation.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/letterOfRecommendation/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/letterOfRecommendation" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/englishLanguageCertificate" method="post">
                            <h2 class="accordion-header" id="headingTen">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (englishLanguageCertificate)?englishLanguageCertificate.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">English Language Certificate</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(englishLanguageCertificate) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% englishLanguageCertificate.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/englishLanguageCertificate/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/englishLanguageCertificate" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/portfolio" method="post">
                            <h2 class="accordion-header" id="headingEleven">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (portfolio)?portfolio.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Portfolio </span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(portfolio) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% portfolio.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/portfolio/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/portfolio" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </form>
                        </div>
                        <div class="accordion-item">
                          <form action="/enrolled/checkbox/<%= enrolledLead._id %>/otherDocuments" method="post">
                            <h2 class="accordion-header" id="headingTwelve">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                                <input class="form-check-input mt-0 me-2" type="checkbox" name="isValid" <%= (otherDocuments)?otherDocuments.isValid:""; %>  onchange="this.form.submit()">
                                 <span class="fw-semibold">Upload Additional Documents</span> 
                              </button>
                            </h2>
                          </form>
                            <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <!-- uploaded files -->
                                <% if(otherDocuments) { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <% otherDocuments.files.forEach(function(file){ %> 
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                       <a class="text-decoration-none text-dark" target="_blank" href="/enrolled/document/<%= enrolledLead._id %>/<%= file.fileName %> "> <%= file.originalFileName %></a>
                                       <form action="/enrolled/file/<%= enrolledLead._id %>/otherDocuments/<%= file.fileId %>?_method=DELETE"  method="POST"> 
                                        <button class="ms-2 p-0 border-0" style="background: none;" type="submit"><i class="text-danger fa-solid fa-xmark"></i></button>
                                        </form>
                                      </div> 
                                      <% }) %>
                                    </div>
                                  </div>
                                </div>
                                <% } else { %>
                                <div class="row mb-3">
                                  <div class="col-md-2 d-flex align-items-center">
                                    <i class="fa-solid fa-paperclip me-2"></i>
                                    <span class="fw-semibold"> Uploaded Files:</span>
                                  </div>
                                  <div class="col-md-10">
                                    <div class="hstack gap-3">
                                      <div class="bg-white border d-flex rounded-pill px-3 py-1">
                                        <span class="text-muted">No files uploaded</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% } %>
                                <form action="/enrolled/document/<%= enrolledLead._id %>/otherDocuments" method="post" enctype="multipart/form-data">
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="file" name="file">
                                    <button type="submit" class="input-group-text" for="file">Upload</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
      



<%- include('../partials/footer')  -%>
<script src="/js/document.js"></script>
</body>
</html>