<%- include('../partials/header.ejs') -%>

    <link rel="stylesheet" href="/css/application.css">
    </head>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js">
    </script>
    <script>

        $(document).ready(function () {
            
            if($("#degree").attr("value") === "Bachelor"){
                $("#Bachelor").attr("selected", "selected");
            }
            else if($("#degree").attr("value") === "Master"){
                $("#Master").attr("selected", "selected");
            }
            else if($("#degree").attr("value") === "twelve"){
                $("#twelve").attr("selected", "selected");
            }

            $("#highestDegree").change(function () {
                $(this).find("option:selected")
                    .each(function () {
                        var optionValue = $(this).attr("value");
                        if (optionValue === "Bachelor") {
                            $(".Bachelor").show();
                            $(".Master").hide();
                            $(".twelve").show();
                        } else if(optionValue === "Master"){
                            $(".box").show();
                        }
                        else if(optionValue === "twelve"){
                            $(".Bachelor").hide();
                            $(".Master").hide();
                            $(".twelve").show();
                        }
                        else {
                            $(".box").hide();
                        }
                    });
            }).change();
            $("input").each(function () {
                if($(this).attr("value") !== " " && $(this).attr("value") !== "Save"){
                    $(this).attr("disabled", true);
                }
            });
                
            // $("#submit").click(function () {
            //     $("input").each(function () {
            //         if($(this).attr("value") === " "){
            //             $(this).attr("disabled", false);
            //         }
            //     });
            // });

        });
    </script>

    <body>
     <!-- Tab-bar -->
     <%- include('../partials/navBar') -%> 
     <%-  include('../partials/tabBar',{lead: enrolledLead}) -%>  
        <input id="degree" type="text" hidden value="<%= academicInfo.highestDegree? academicInfo.highestDegree:" " %>">
     <!-- upload documents -->
     <div class="p-4">
         <div class="head">
             <div class="table-responsive">
                 <table class="table table-hover" width="100%" cellspacing="0">
                     <thead class="table-light">
                         <tr>
                             <th>Name</th>
                             <th>Email</th>
                             <th>Phone</th>
                             <th>Student Url Link</th>
                         </tr>
                     </thead>
                     <tbody class="table-group-divider">
                           <tr>
                             <td><%= enrolledLead.name %> </td>
                             <td><%= enrolledLead.email %></td>
                             <td><%= enrolledLead.phone %></td>
                             <td>  <% const cDate1=new Date(enrolledLead.enrollmentDate).toLocaleDateString("en-GB") %>
                               <%= cDate1 %></td>
                           </tr>
                     </tbody>
                 </table>
             </div>
         </div>
                <ul class="nav nav-tabs nav-fill bg-light">
                    <li class="nav-item active">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/personal/<%= enrolledLead._id %>">Personal Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/academic/<%= enrolledLead._id %>">Academic Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/work/<%= enrolledLead._id %>">Work Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4 fw-bold" href="/enrolled/save/test/<%= enrolledLead._id %>">Test Information</a>
                    </li>
                </ul>
                <div>
                    <h3>Educational Information</h3>
                    <form action="/enrolled/save/academic/<%= enrolledLead._id %>" method="POST"> 
                        <label for="countryOfStudy">Country Of Study</label>
                        <input type="text" name="countryOfStudy" id="countryOfStudy" value="<%=(academicInfo.countryOfStudy)?academicInfo.countryOfStudy:" " %>"><br>
                        <label for="highestDegree">Select Highest Degree</label>
                        <select name="highestDegree" id="highestDegree">
                            <option id="Master" value="Master">Master</option>
                            <option id="Bachelor" value="Bachelor">Bachelor</option>
                            <option id="twelve" value="twelve">12th Or Equivalent</option>
                        </select><br>
                    <!-- </form> -->
                </div>
                <div class="Master box">
                    <h4>Post Graduation(if applicable)</h4>
                    <!-- <form action="/enrolled/save/academic/<%= enrolledLead._id %>" method="POST"> -->
                        <label for="masterName">Name</label>
                        <input type="text" name="masterName" id="masterName" value="<%= academicInfo.masterName? academicInfo.masterName:" " %>"><br>
                        <label for="masterUniversity">University</label>
                        <input type="text" name="masterUniversity" id="masterUniversity" value="<%= academicInfo.masterUniversity? academicInfo.masterUniversity:" " %>"><br>
                        <label for="masterLocation">Location</label>
                        <input type="text" name="masterLocation" id="masterLocation" value="<%= academicInfo.masterLocation? academicInfo.masterLocation:" " %>"><br>
                        <label for="masterGrade">Grade</label>
                        <input type="text" name="masterGrade" id="masterGrade" value="<%= academicInfo.masterGrade? academicInfo.masterGrade:" " %>"><br>
                        <label for="masterYearOfPassing">Year Of Passing</label>
                        <input type="text" name="masterYearOfPassing" id="masterYearOfPassing" value="<%= academicInfo.masterYearOfPassing? academicInfo.masterYearOfPassing:" " %>"><br>
                        <div class="submit">
                            <input type="submit" value="Save">
                        </div>
                    <!-- </form> -->
                </div>
                <div class="Bachelor box">
                    <h4>Undergraduate(if applicable)</h4>
                    <!-- <form action="/enrolled/save/academic/<%= enrolledLead._id %>" method="POST">  -->
                        <label for="undergraduateName">Name</label>
                        <input type="text" name="undergraduateName" id="undergraduateName" value="<%= academicInfo.undergraduateName? academicInfo.undergraduateName:" " %>"><br>
                        <label for="undergraduateUniversity">University</label>
                        <input type="text" name="undergraduateUniversity" id="undergraduateUniversity" value="<%= academicInfo.undergraduateUniversity? academicInfo.undergraduateUniversity:" " %>"><br>
                        <label for="undergraduateLocation">Location</label>
                        <input type="text" name="undergraduateLocation" id="undergraduateLocation" value="<%= academicInfo.undergraduateLocation? academicInfo.undergraduateLocation:" " %>"><br>
                        <label for="undergraduateGrade">Grade</label>
                        <input type="text" name="undergraduateGrade" id="undergraduateGrade" value="<%= academicInfo.undergraduateGrade? academicInfo.undergraduateGrade:" " %>"><br>
                        <label for="undergraduateYearOfPassing">Year Of Passing</label>
                        <input type="text" name="undergraduateYearOfPassing" id="undergraduateYearOfPassing" value="<%= academicInfo.undergraduateYearOfPassing? academicInfo.undergraduateYearOfPassing:" " %>"><br>
                        <div class="submit">
                            <input type="submit" value="Save">
                        </div>
                    <!-- </form> -->
                </div>
                <div class="twelve box">
                    <h4>Grade 12th or equivalent(if applicable)</h4>
                    <!-- <form action="/enrolled/save/academic/<%= enrolledLead._id %>" method="POST">  -->
                        <Label for="twelveBoard">Board</Label>
                        <input type="text" name="twelveBoard" id="twelveBoard" value="<%= academicInfo.twelveBoard? academicInfo.twelveBoard:" " %>"><br>
                        <Label for="twelveSchool">School</Label>
                        <input type="text" name="twelveSchool" id="twelveSchool" value="<%= academicInfo.twelveSchool? academicInfo.twelveSchool:" " %>"><br>
                        <Label for="twelveLocation">Location</Label>
                        <input type="text" name="twelveLocation" id="twelveLocation" value="<%= academicInfo.twelveLocation? academicInfo.twelveLocation:" " %>"><br>
                        <Label for="twelveGrade">Grade</Label>
                        <input type="text" name="twelveGrade" id="twelveGrade" value="<%= academicInfo.twelveGrade? academicInfo.twelveGrade:" " %>"><br>
                        <Label for="twelveYearOfPassing">Year Of Passing</Label>
                        <input type="text" name="twelveYearOfPassing" id="twelveYearOfPassing" value="<%= academicInfo.twelveYearOfPassing? academicInfo.twelveYearOfPassing:" " %>"><br>
                        <div class="submit">
                            <input type="submit" value="Save">
                        </div>
                    <!-- </form> -->
                </div>
                <div class="twelve box">
                    <h4>Grade 10th(if applicable)</h4>
                    <!-- <form action="/enrolled/save/academic/<%= enrolledLead._id %>" method="POST">  -->
                        <Label for="tenthBoard">Board</Label>
                        <input type="text" name="tenthBoard" id="tenthBoard" value="<%= academicInfo.tenthBoard? academicInfo.tenthBoard:" " %>"><br>
                        <Label for="tenthSchool">School</Label>
                        <input type="text" name="tenthSchool" id="tenthSchool" value="<%= academicInfo.tenthSchool? academicInfo.tenthSchool:" " %>"><br>
                        <Label for="tenthLocation">Location</Label>
                        <input type="text" name="tenthLocation" id="tenthLocation" value="<%= academicInfo.tenthLocation? academicInfo.tenthLocation:" " %>"><br>
                        <Label for="tenthGrade">Grade</Label>
                        <input type="text" name="tenthGrade" id="tenthGrade" value="<%= academicInfo.tenthGrade? academicInfo.tenthGrade:" " %>"><br>
                        <Label for="tenthYearOfPassing">Year Of Passing</Label>
                        <input type="text" name="tenthYearOfPassing" id="tenthYearOfPassing" value="<%= academicInfo.tenthYearOfPassing? academicInfo.tenthYearOfPassing:" " %>"><br>
                        <div class="submit">
                            <input type="submit" value="Save">
                        </div>
                    </form>
                </div>


                <%- include('../partials/footer') -%>

    </body>

    </html>