<%- include('../partials/header.ejs') -%>

    <link rel="stylesheet" href="/css/application.css">
    </head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js">
    </script>
    <script>
        // $(document).ready(function () {
        //     $('button').click(function () {
        //             var $div = $("<div>", { id: "workExp" });
        //             $('#main').append($div);       
        //     });

        // });
        $(document).ready(function () {
            $(".workExp").hide();
            var click = 0;
            $('button').click(function () {
                click++;
                if(click>=2){
                $('#main').append($('.workExp').html())
                }
                else{
                    $('.workExp').show();
                }
            })

        })
    </script>

    <body>
        <!-- Tab-bar -->
        <%- include('../partials/navBar') -%>
            <%- include('../partials/tabBar',{lead: enrolledLead}) -%>

                <!-- upload documents -->
                <div class="p-4">
                    <div class="head">
                        <h3 class="mb-3">Upload Documents of </h3>
                        <div class="table-responsive">
                            <table class="table table-hover" width="100%" cellspacing="0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Student Url Link</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr>
                                        <td>
                                            <%= enrolledLead.name %>
                                        </td>
                                        <td>
                                            <%= enrolledLead.email %>
                                        </td>
                                        <td>
                                            <%= enrolledLead.phone %>
                                        </td>
                                        <td>
                                            <% const cDate1=new
                                                Date(enrolledLead.enrollmentDate).toLocaleDateString("en-GB") %>
                                                <%= cDate1 %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <ul class="nav nav-tabs nav-fill bg-light">
                        <li class="nav-item active">
                            <a class="nav-link fs-4 fw-bold"
                                href="/enrolled/enroll/get/<%= enrolledLead._id %>">Personal Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold"
                                href="/enrolled/save/academic/<%= enrolledLead._id %>">Academic Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold" href="/enrolled/save/work/<%= enrolledLead._id %>">Work
                                Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4 fw-bold" href="/enrolled/save/test/<%= enrolledLead._id %>">Test
                                Information</a>
                        </li>
                    </ul>
                    <div>
                        <h3>Work Experience</h3>
                        
                        <div id="main">
                            <div class="workExp">
                                <form action="/enrolled/save/work/<%= enrolledLead._id %>" method="POST">
                                    <label for="companyName">Company Name</label>
                                    <input type="text" name="companyName" id="companyName"><br>
                                    <label for="jobTitle">Job Title</label>
                                    <input type="text" name="jobTitle" id="jobTitle"><br>
                                    <label for="startDate">Start Date</label>
                                    <input type="date" name="startDate" id="startDate"><br>
                                    <label for="endDate">End Date</label>
                                    <input type="date" name="endDate" id="endDate"><br>
                                    <label for="workLocation">Location</label>
                                    <input type="text" name="workLocation" id="workLocation"><br>
                                    <label for="reasonForLeaving">Reason For Leaving</label>
                                    <input type="text" name="reasonForLeaving" id="reasonForLeaving"><br>
                                    <label for="workanyOtherInformation">Any Other Information</label>
                                    <input type="text" name="workanyOtherInformation" id="workanyOtherInformation"><br>
                                    <div class="submit">
                                        <input type="submit" value="Save">
                                    </div>
                                    <div>
                                        <button>Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button>
                        + Add Work Experience
                    </button>
                    
                    <script>
                        $(document).ready(function () {
                            let d = document.getElementById('dob').value;
                            console.log(d);
                            let datestring = d.getFullYear().toString().padStart(4, '0') + '-' + (d.getMonth() + 1).toString().padStart(2, '0') + '-' + d.getDate().toString().padStart(2, '0');
                            document.getElementById('dob').value = datestring;
                        })
                    </script>


                    <%- include('../partials/footer') -%>

    </body>

    </html>